.snakemake/**
/data/*
!/data/studies/
/data/studies/*/**
!/data/studies/*/*.R
!/data/studies/*/*.yaml
!/data/graveyard/
/data/graveyard/*/**
!/data/graveyard/*/*.R
!/data/graveyard/*/*.yaml
/figures/**
/meta/*
!/meta/fasta/
!/meta/clustering/
/docs/dataset_ideas.md
